.card {
  background-color: #424242 !important;
}

.collection,
.collection-item {
  padding: 15px !important;
  color: #fff;
  border-color: #424242 !important;
  background-color: #616161 !important;
}

.sidenav {
  background-color: #424242 !important;
}

.sidenav li > a,
.sidenav li > a > i.material-icons {
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.sidenav li > a.active,
.sidenav li > a:active,
.sidenav li > a:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
  i.material-icons {
    color: #fff !important;
  }
}

.tabs {
  background: transparent !important;
}
.tabs .indicator {
  background-color: #2196f3 !important;
}
.tabs .tab a {
  color: #2196f3 !important;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  color: #2196f3 !important;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: #2196f326 !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2196f3 !important;
  -webkit-box-shadow: 0 1px 0 0 #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}
input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196f3 !important;
}

.input-field .prefix.active {
  color: #2196f3 !important;
}

input {
  color: #fff;
}

.btn,
a {
  color: #fff !important;
  font-weight: bold;
  text-transform: none !important;
}

@media only screen and (max-width: 992px) {
  .input-field .prefix ~ input {
    width: calc(100% - 4rem) !important;
  }
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
  margin-left: 4rem !important;
}

#toast-container {
  right: auto !important;
  bottom: 2% !important;
  left: 2% !important;
  top: auto !important;
  @media only screen and (max-width: 600px) {
    right: auto !important;
    bottom: 2% !important;
    left: 2% !important;
    top: auto !important;
    .toast {
      width: 95% !important;
      border-radius: 0;
    }
  }
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #4caf50 !important;
  background-color: #4caf50 !important;
}

[type="checkbox"] + span:not(.lever) {
  line-height: 20px !important;
}

.suffix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  top: 0.5rem;
}

.input-field .suffix ~ input,
.input-field .suffix ~ textarea,
.input-field .suffix ~ label,
.input-field .suffix ~ .validate ~ label,
.input-field .suffix ~ .helper-text,
.input-field .suffix ~ .autocomplete-content {
  margin-right: 4rem !important;
}

.carousel ul.indicators li {
  box-shadow: 0px 1px 3px #00000070;
}

.card,
.card-content {
  overflow: hidden !important;
}

.dropdown-content {
  background: #424242;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #fff;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  color: rgba(#fff, 0.5)
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #2196f3;
}
